* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
}
.rosado {
    background-color: pink;
    height: 200px;
}
.verde {
    background-color: green;
    height: 200px;
}
.azul {
    background-color: blue;
    height: 100px;
}
.rojo {
    background-color: red;
    height: 200px;
    display: none;
}
.morado {
    background-color: purple;
    height: 400px;
    display: none;
}
.gris {
    background-color: gray;
    height: 400px;
}
@media (min-width: 501px) and (max-width: 750px) {
    /*.rojo {
        display: block;
    }*/
    /*.azul {
        height: 200px;
    }*/
    .azul, .rojo, .verde {
        width: 32.5%;
        display: inline-block;
        height: 200px;
    }
    /*.verde {
        width: 34%;
        display: inline-block;
    }*/
    .morado {
        width: 60%;
        display: inline-block;
    }
    .gris {
        width: 39%;
        display: inline-block;
    }
}
@media (min-width: 751px){
    .rosado {
        height: 50px;
    }
    .azul {
        height: 400px;
    }
    .rojo, .morado, .gris {
        width: 33.333333%;
        display: block;
        height: 300px;
        float: left;
    }
    /*.gris {
        width: 34%;
        display: inline-block;
        height: 200px;
    }*/
}